<main>
<div class="container">
  <div class="card">
    <div class="card-body box-shadow">
      <h1>Edit Your <%= resource_name.to_s.humanize %></h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :username %>
              <%= f.text_field :username, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :first_name %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :time_zone %>
              <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {default: "Central Time (US & Canada)"}, {class: "custom-select form-control"} %>
            </div>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="bg-light p-3 my-md-3">
          <h2 class="h3">Update Your Password</h2>            
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :password %>                   
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                <% if @minimum_password_length %>
                  <small id="passwordHelp" class="form-text text-muted"><em><%= @minimum_password_length %> characters minimum</em></small>
                <% end %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                <small id="passwordConfirmHelp" class="form-text text-muted"><em>Enter in your new password again to confirm its correct</em></small>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
        <h2 class="h3">Enter your current password to confirm changes</h2>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :current_password %>
              <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.button "Update Your Account", class: "btn btn-success mt-lg-3", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Updating Your Account..."} %>
        </div>
      <% end %>
      <div class="mt-md-5 pt-md-4 border-top">
        <div class="row">
          <div class="col-md-8">
            <h3>Cancel My Account</h3>
            <p>If you no longer want to use <strong>PooPeePal.com</strong> you can cancel your account by clicking the <span class="text-danger">Cancel My Account</span> button to the right.</p>
            <p>Once you cofirm to delete you account all your information and tracked metrics will be permanently deleted.</p>
          </div>
          <div class="col-md-4 align-self-center">
            <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?", toggle: "tooltip", html: true }, title: "<i class='fa fa-3x fa-frown-o' aria-hidden='true'></i>", method: :delete, class: "btn btn-danger btn-block" %></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</main>
<script>
(function() {
  document.addEventListener('turbolinks:load', () => {
    $('[data-toggle="tooltip"]').tooltip()
  })
})();
</script>