<main>
<div class="container">
   <div class="card">      
      <div class="card-body box-shadow">
         <div class="d-flex mb-3 border-bottom" style="justify-content: space-between;">
            <div class="d-flex align-items-center">
               <h1 class="h3"><%= @baby.name %>
                  <span class="d-block entry__dob"><%= @baby.dob.strftime('%b %d, %Y') %></span>
               </h1>
            </div>
            <%= link_to baby_entry_path(@baby, @entry), data: {confirm: "Are you sure you want to delete this entry?\n\nThis can't be undone."}, method: :delete, class: "btn btn-danger mb-2 entry__trash" do %>
              <%= fa_icon("trash-o") %>
            <% end %>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading text-success">
                        <h2><%= fa_icon("cutlery") %> Feedings</h2>          
                        <p class="tracking-overview__details feeding-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count text-success">
                        <h3><%= @feedings.sum(:amount) %></h3><p>oz</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading">
                        <h2><%= image_tag("diaper--dark.svg", width: 18, alt: "Diaper Overview") %> Diapers</h2>
                        <p class="tracking-overview__details changes-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count tracking-changes">
                        <div class="tracking-changes__total">
                           <h3><%= @diapers.length %></h3> <p><%= "Change".pluralize(@diapers.length) %></p>
                        </div>
                        <div class="tracking-changes__poo-pee">
                           <div class="pee">
                              <%= @entry.diapers.pee_diaper.length %> <%= image_tag("pee-drop.svg", class: "d-inline-block ml-2", style: "max-width: 20px;", width: "100%", data: {toggle: "tooltip", placement: "right", html: "true", title: "#{pluralize(@entry.diapers.pee_diaper.length, "diaper")}  contained <u><strong>pee</strong></u>" }, alt: "Pee Icon") %>
                           </div>
                           <div class="poo">
                              <%= @entry.diapers.poo_diaper.length %> <%= image_tag("ppp-logo.svg", class: "d-inline-block ml-2", style: "max-width: 24px;", width: "100%", data: {toggle: "tooltip", placement: "right", html: "true" ,title: "#{pluralize(@entry.diapers.poo_diaper.length, "diaper")} contained <u><strong>poo</strong></u> " }, alt: "Poo Icon") %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading text-danger">
                        <h2><%= fa_icon("bed") %> Sleep</h2>
                        <p class="tracking-overview__details sleep-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count text-danger">
                        <h3><%= raw(@entry.total_sleep_time) %></h3>
                     </div>
                     <% if @entry.sleep_in_progress? %>
                        <div class="tracking-overview__footer bg-danger">
                           <%= fa_icon("exclamation-circle") %> <strong>Shhh.</strong> <%= @baby.name %> is sleeping.
                        </div>
                     <% end %>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <%= render partial: "entries/tracking/data/feedings" %>
               <%= render partial: "entries/tracking/data/diapers" %>
               <%= render partial: "entries/tracking/data/sleep" %>               
            </div>               
         </div>
      </div>
   </div>
</div>
</main>
<%= render partial: "entries/tracking/forms/form_feeding" %>
<%= render partial: "entries/tracking/forms/form_diaper" %>
<%= render partial: "entries/tracking/forms/form_sleep" %>
<script>
$(document).on('turbolinks:load', function() {
   $('.feeding-details').on('click', function() {          
      $('.feedings').addClass('d-block');
      $('.cutlery').addClass('slideDownIn');
      $('.sleepings').removeClass('d-block').addClass('d-none');
      $('.changes').removeClass('d-block').addClass('d-none');
   });
   $('.changes-details').on('click', function() {
      $('.changes').addClass('d-block');
      $('.diaper').addClass('slideDownIn');
      $('.feedings').removeClass('d-block').addClass('d-none');
      $('.sleepings').removeClass('d-block').addClass('d-none');
   });
   $('.sleep-details').on('click', function() {
      $('.sleepings').addClass('d-block');
      $('.bed').addClass('slideDownIn');
      $('.feedings').removeClass('d-block').addClass('d-none');
      $('.changes').removeClass('d-block').addClass('d-none');
   });
   $('[data-toggle="tooltip"]').tooltip();
});
</script>