<main>
<div class="container">
   <div class="entry-actions text-right">                              
      <%= link_to baby_entry_path(@baby, @entry), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-light mb-2" do %>
         <%= fa_icon("trash", class: "text-danger") %> Delete Entry
      <% end %>                                       
   </div>
   <div class="card">      
      <div class="card-body box-shadow">
         <div class="row">
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading text-success">
                        <h2><%= fa_icon("cutlery") %> Feedings</h2>          
                        <p class="tracking-overview__details feeding-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count text-success">
                        <h3><%= @feedings.sum(:amount) %></h3><p>oz</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading">
                        <h2><%= image_tag("diaper--dark.svg", width: 18, alt: "Diaper Overview") %> Diapers</h2>
                        <p class="tracking-overview__details changes-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count tracking-changes">
                        <div class="tracking-changes__total">
                           <h3><%= @diapers.count %></h3>
                        </div>
                        <div class="tracking-changes__poo-pee">
                           <div class="pee">
                              <%= @entry.diapers.pee_diaper.length %> <%= image_tag("pee-drop.svg", class: "d-inline-block ml-2", style: "max-width: 20px;", width: "100%", data: {toggle: "tooltip", placement: "right", html: "true", title: "#{pluralize(@entry.diapers.pee_diaper.length, "diaper")}  contained <u><strong>pee</strong></u>" }, alt: "Pee Icon") %>
                           </div>
                           <div class="poo">
                              <%= @entry.diapers.poo_diaper.length %> <%= image_tag("ppp-logo.svg", class: "d-inline-block ml-2", style: "max-width: 24px;", width: "100%", data: {toggle: "tooltip", placement: "right", html: "true" ,title: "#{pluralize(@entry.diapers.poo_diaper.length, "diaper")} contained <u><strong>poo</strong></u> " }, alt: "Poo Icon") %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-4">
               <div class="tracking">
                  <div class="tracking-overview">
                     <div class="tracking-overview__heading text-danger">
                        <h2><%= fa_icon("bed") %> Sleep</h2>
                        <p class="tracking-overview__details sleep-details">View Details<%= fa_icon("chevron-down", class: "ml-1") %></p>
                     </div>
                     <div class="tracking-overview__count text-danger">
                        <h3><%= @feedings.sum(:amount) %></h3><p>hrs</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <%= render partial: "entries/tracking/data/feedings" %>
               <%= render partial: "entries/tracking/data/diapers" %>
               
               <div class="sleepings d-none">
                  <h2 class="text-danger"><%= fa_icon("bed", class: "bed animation") %> Sleep</h2>
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th>Start Time</th>
                           <th>End Time</th>
                           <th>Length</th>
                           <th>Amount</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% @feedings.order(created_at: :desc).each do |feeding| %>            
                           <tr>
                              <td><%= feeding.start_time.strftime(" %l:%M %p") %></td>
                              <td><%= feeding.end_time.strftime(" %l:%M %p") %></td>
                              <td><%= ((feeding.end_time - feeding.start_time) / 1.minute).round %> Minutes</td>
                              <td><%= feeding.amount %> oz</td>
                           </tr>
                        <% end %>
                     </tbody>  
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</main>
<%= render partial: "entries/tracking/forms/form_feeding" %>
<%= render partial: "entries/tracking/forms/form_diaper" %>
<script>
$(document).on('turbolinks:load', function() {
   $('.feeding-details').on('click', function() {          
      $('.feedings').addClass('d-block');
      $('.cutlery').addClass('slideDownIn');
      $('.sleepings').removeClass('d-block').addClass('d-none');
      $('.changes').removeClass('d-block').addClass('d-none');
   });
   $('.changes-details').on('click', function() {
      $('.changes').addClass('d-block');
      $('.diaper').addClass('slideDownIn');
      $('.feedings').removeClass('d-block').addClass('d-none');
      $('.sleepings').removeClass('d-block').addClass('d-none');
   });
   $('.sleep-details').on('click', function() {
      $('.sleepings').addClass('d-block');
      $('.bed').addClass('slideDownIn');
      $('.feedings').removeClass('d-block').addClass('d-none');
      $('.changes').removeClass('d-block').addClass('d-none');
   });
   $('[data-toggle="tooltip"]').tooltip();
});
</script>