<main style="height: calc(100vh - 155px);">
<div class="container">
   <div class="card">
      <div class="card-body box-shadow">         
         <%= @feedings.sum(:amount) %> oz
         <% @feedings.order(created_at: :desc).each do |feeding| %>            
            <%= feeding.start_time.strftime(" %l:%M %p") %> <====> <%= feeding.end_time.strftime(" %l:%M %p") %> | <%= feeding.amount %> oz<br>
            Lenght: <%= ((feeding.end_time - feeding.start_time) / 1.minute).round %> Minutes
         <% end %>
      </div>
   </div>
</div>
</main>
<%= render partial: "entries/tracking/form_feeding" %>