<main class="vh-100">
<div class="container">
   <div class="card animation slideDownIn">
      <div class="card-body box-shadow">
         <h1>Edit Feeding</h1>
         <%= form_for([@baby, @entry, @feeding]) do |f| %>
           <div class="modal-body">
             <div class="row">
               <div class="col-md-4">
                 <%= f.label :start_time %>
                 <%= f.text_field :start_time, class: "form-control datetimepicker-input", data: {toggle: "datetimepicker", target: "#feeding_start_time"}, autocomplete: "off" %>
               </div>
               <div class="col-md-4">
                 <%= f.label :end_time %>
                 <%= f.text_field :end_time, class: "form-control datetimepicker-input", data: {toggle: "datetimepicker", target: "#feeding_end_time"}, autocomplete: "off" %>
               </div>
               <div class="col-md-4">
                 <%= f.label :amount, "Amount (oz)" %>
                 <%= f.text_field :amount, class: "form-control"%>
               </div>
             </div>
             <div class="row">
               <div class="col mt-3">
                 <a data-toggle="collapse" href="#feedingNotes" role="button" aria-expanded="false" aria-controls="feedingNotes">
                     <%= fa_icon("plus") %> Add Note
                 </a>
                 <div class="collapse <%= "show" if @feeding.feeding_notes.present? %>" id="feedingNotes">            
                   <%= f.label :feeding_notes %>
                   <%= f.text_area :feeding_notes, rows: 8, class: "form-control" %>                
                 </div>

               </div>
             </div>
           </div>
           <div class="modal-footer d-flex justify-space-between">             
             <%= link_to "Back", :back, class: "btn btn-outline-danger" %>
             <%= f.button "Update Feeding", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Updating Feeding..."} %>
           </div>
         <% end %>
         </div>
      </div>
   </div>
</main>