<nav class="navbar navbar-expand-md navbar-light auth--main-nav">
  <div class="container">
    <% if current_page?(babies_start_path) %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("ppp-logo.svg", class: "d-inline-block align-top", width: 30, alt: "PooPeePal.com") %>
      <% end %>
    <% end %>
    <%= link_to "#", class: "navbar-brand" do %>
      <% if current_page?(babies_start_path) %>
        <span class="ml-5">Create your first Baby Dashboard</span>
      <% else %>
        <%= dashboard_heading %>
      <% end %>
    <% end %>
    <button class="navbar-toggler js-offcanvas-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" data-button-options='{"wrapText":false}'>
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span> 
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" data-set="bs">
      <ul class="navbar-nav ml-auto js-append-around">
        <% if account_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_account.first_name %> <%= current_account.last_name %>
            </a>
            <div class="dropdown-menu dropdown-menu-right animation slideDownIn" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Dashboard", root_path, class: "dropdown-item" %>
              <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_account_session_path, method: :delete, data: {confirm: "You are logging out. Are you sure?"}, class: "dropdown-item" %>              
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <%= link_to "Log in", new_account_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class="c-offcanvas is-hidden" id="left" role="complementary">
  <div class="navbar flex-column">
      <%= link_to root_path, class: "navbar-brand mx-auto" do %>
        <%= image_tag("ppp-logo.svg", class: "d-block align-top mx-auto", width: 60, alt:"PooPeePal.com") %>
        PooPeePal
      <% end %>
      <div class="offcanvas-nav d-block d-md-none" data-set="bs">
          <%= render partial: "shared/authenticated_sidebar_navs" %>
      </div>
  </div>
</div>