<% if current_page?(new_baby_path) %>
<div class="sidebar__action">
  <%= link_to root_path, class: "btn btn-primary mx-auto my-3 d-block" do %>
    <%= fa_icon("chevron-left") %> 
    <span class="d-md-none d-lg-inline-block">Back</span>
  <% end %>
</div>
<% elsif current_page?(edit_baby_path(@baby)) %>
<div class="sidebar__action">
  <%= link_to baby_path(@baby), class: "btn btn-primary mx-auto my-3 d-block" do %>
    <%= fa_icon("chevron-left") %> 
    <span class="d-md-none d-lg-inline-block">Back</span>
  <% end %>
</div>
<% elsif current_page?(controller: "babies", action: "show") %>
<div class="sidebar__action">
  <%= form_for([@baby, @entry]) do |f| %>
    <%= f.button class: "btn btn-primary mx-auto my-3 d-block", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Adding Entry..."} do %>
      <%= fa_icon("plus") %> 
      <span class="d-md-none d-lg-inline-block">Add Entry</span>
    <% end %>
  <% end %>
</div>
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("home") %> 
    <span class="d-md-none d-lg-inline-block">Home</span>
  <% end %>
  <%= link_to edit_baby_path(@baby), class: "nav-link" do %>
    <%= fa_icon("edit") %> 
    <span class="d-md-none d-lg-inline-block">Edit</span>
  <% end %>
  <%= link_to baby_path(@baby), method: :delete, data: {confirm: "Are you sure?"}, class: "nav-link" do %>
    <%= fa_icon("trash-o") %> 
    <span class="d-md-none d-lg-inline-block">Delete</span>
  <% end %>
<% end %>