<% if current_page?(new_baby_path) %>
  <%= link_to root_path, class: "btn btn-primary mx-auto my-3 d-block w-75" do %>
    <%= fa_icon("chevron-left") %> 
    <span class="d-none d-lg-inline-block">Back</span>
  <% end %>
<% elsif current_page?(controller: "babies", action: "show") %>
  <%= form_for([@baby, @entry]) do |f| %>
    <%= f.button class: "btn btn-primary mx-auto my-3 d-block w-75", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Adding Entry..."} do %>
      <%= fa_icon("plus") %> 
      <span class="d-none d-lg-inline-block">Add Entry</span>
    <% end %>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("home") %> 
    <span class="d-none d-lg-inline-block">Home</span>
  <% end %>

<% else %>  
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("home") %> 
    <span class="d-none d-lg-inline-block">Home</span>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("cutlery") %>
    <span class="d-none d-lg-inline-block">Track Feeding</span>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <%= image_tag("diaper.svg", width: 16) %>
    <span class="d-none d-lg-inline-block">Track Diaper</span>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("bed") %>
    <span class="d-none d-lg-inline-block">Track Sleep</span>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <%= fa_icon("bath") %>
    <span class="d-none d-lg-inline-block">Track Bath</span>
  <% end %>
<% end %>