<main>
<div class="container">
   <div class="card">
      <div class="card-body box-shadow py-0">         
            <div class="row">
               <div class="col-md-8">
                  <div class="baby baby__main">
                     <div class="d-flex flex-column flex-md-row justify-content-between">
                        <h1 class=""><%= Time.now.strftime("%B") %> Entries</h1>
                        <div class="align-self-center">
                           <div class="btn-group" role="group">
                              <%= link_to baby_path(@baby), class: "btn btn-sm" do %>
                                 <%= fa_icon("stop") %> Current Month
                              <% end %>
                              <%= link_to full_baby_path(@baby), class: "btn btn-sm" do %>
                                 <%= fa_icon("th") %> All Entries
                              <% end %>
                           </div>
                        </div>
                     </div>
                     <% if @entries_current_month.any? %>
                        <div class="list-group">                           
                           <% @entries_current_month.each do |entry| %>
                              <%= link_to baby_entry_path(@baby, entry), class: "list-group-item list-group-item-action flex-column" do %>         
                                 <div class="d-flex flex-column flex-lg-row justify-content-between">
                                    <h3 class="metric-date align-self-center">
                                       <%= entry.created_at.strftime("%A, %B %e, %Y") %>
                                    </h3>
                                    <div class="d-flex justify-content-between">
                                       <div class="metric text-success">
                                          <h3 class="metric__data">
                                             <%= entry.sum_feedings%> oz
                                          </h3>
                                          <%= fa_icon("cutlery") %> 
                                       </div>
                                       <div class="metric">
                                          <h3 class="metric__data"><%= pluralize(entry.diapers_count, "Change") %></h3>
                                          <%= image_tag("diaper--dark.svg", width: 18) %>
                                       </div>
                                       <div class="metric text-danger">
                                          <h3 class="metric__data"><%= pluralize(entry.total_sleep_time_entry, "Hour") %></h3>
                                          <%= fa_icon("bed") %>
                                       </div>
                                       <div class="metric text-primary">
                                          <h3 class="metric__data"><%= fa_icon("check", style: "opacity: 0.3") %></h3>
                                             <%= fa_icon("bath") %>
                                       </div>                                          
                                    </div>
                                 </div>                              
                              <% end %>
                           <% end %>
                        </div>
                     <% elsif !@entries_current_month.any? && !@baby.entries.any? %>
                        <div class="border-top text-center pt-5">
                           <h2>Welcome to <%= @baby.name %>'s new dashboard!</h2>
                           <p class="lead">You haven't created any entries for <%= @baby.name %> yet.</p>
                           <%= form_for([@baby, @entry]) do |f| %>
                             <%= f.button class: "btn btn-success mx-auto mt-3 mb-5", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Adding Entry..."} do %>
                               <%= fa_icon("plus") %> 
                               Start Tracking Now!
                             <% end %>
                           <% end %>
                        </div>      
                     <% else %>
                        <div class="border-top text-center pt-5">
                           <h2>You haven't created any entries for<br class="d-none d-md-block"> <%= @baby.name %> this month.</h2>                           
                           <%= form_for([@baby, @entry]) do |f| %>
                             <%= f.button class: "btn btn-success mx-auto mt-3 mb-5", data: {disable_with: "<i class='fa fa-spinner fa-spin' aria-hidden='true'></i> Adding Entry..."} do %>
                               <%= fa_icon("plus") %> 
                               Start Tracking Now!
                             <% end %>
                           <% end %>
                        </div>                     
                     <% end %>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="baby baby__sidebar">
                     <div class="sidebar__section sidebar__section--info">
                        <div>
                           <%= image_tag(@baby.baby_photo_thumb, class: "img-fluid img-thumbnail rounded mx-auto mb-3 d-block") %>
                        </div>
                        <h2 class="h4"><%= @baby.name %></h2>
                        <dl class="row">
                           <dt class="col-sm-6 col-md-12 col-xl-5">DOB:</dt>
                           <dd class="col-sm-6 col-md-12 col-xl-7"><%= @baby.dob.strftime("%b %e, %Y") %></dd>
                        </dl>
                        <dl class="row">
                           <dt class="col-sm-6 col-md-12 col-xl-5">Gender:</dt>
                           <dd class="col-sm-6 col-md-12 col-xl-7">
                              <% if @baby.gender.present? %>
                                 <%= @baby.gender %>
                              <% else %>
                                 <%= link_to edit_baby_path(@baby), class: "small" do %>
                                    <%= fa_icon("plus") %>  Add Gender
                                 <% end %>
                              <% end %>                                 
                           </dd>
                        </dl>
                        <dl class="row">
                           <dt class="col-sm-6 col-md-12 col-xl-5">Weight:</dt>

                           <dd class="col-sm-6 col-md-12 col-xl-7">
                              <% if @baby.weight.present? %>
                                 <%= baby_weight %>                                                                  
                              <% else %>
                                 <%= link_to edit_baby_path(@baby), class: "small" do %>
                                    <%= fa_icon("plus") %>  Add Weight
                                 <% end %>
                              <% end %>
                           </dd>
                        </dl>
                        <dl class="row">
                           <dt class="col-sm-6 col-md-12 col-xl-5">Height</dt>
                           <dd class="col-sm-6 col-md-12 col-xl-7">
                              <% if @baby.height.present? %>
                                 <%= @baby.height %> inches                                                     
                              <% else %>
                                 <%= link_to edit_baby_path(@baby), class: "small" do %>
                                    <%= fa_icon("plus") %>  Add Height
                                 <% end %>
                              <% end %>                                 
                           </dd>
                        </dl>
                     </div>
                     <div class="sidebar__section sidebar__section--collabs">
                     </div>
                  </div>
               </div>
            </div>         
      </div>
   </div>
</div>
</main>