<div class="sleepings d-none">
   <h2 class="text-danger"><%= fa_icon("bed", class: "bed animation") %> Sleep</h2>
   <% if @sleeps.any? %>
      <table class="table table-striped--mod">
         <thead>
            <tr>
               <th class="sticky-header feeding-col-width">Start Time</th>
               <th class="sticky-header feeding-col-width">End Time</th>
               <th class="sticky-header feeding-col-width">Duration</th>
               <th class="sticky-header feeding-col-width">Location</th>
               <th class="text-center sticky-header feeding-col-width">Notes</th>
               <th class="text-center sticky-header feeding-col-width">Actions</th>
            </tr>
         </thead>
         <tbody>
            <% @sleeps.order(created_at: :desc).each do |sleep| %>            
               <tr>
                  <td><%= sleep.start_time %></td>
                  <td><%= sleep.end_time ? sleep.end_time : "In Progress" %></td>
                  <td> <%= sleep_converter(sleep) %></td>
                  <td><%= sleep.location %></td>
                  <td class="text-center">
                     <button class="btn btn-sm btn-light <%= "text-success" if sleep.notes.present? %>" data-toggle="collapse" href="#collapseExample-<%= sleep.id %>" role="button" aria-expanded="false" aria-controls="collapseExample-<%= sleep.id %>">Notes <%= fa_icon(sleep.notes.present? ? "chevron-down" : "close", class: ("text-success" if sleep.notes.present?)) %></button>
                  </td>
                  <td class="text-center">
                     <div class="btn-group">
                        <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           <%= fa_icon("ellipsis-v") %><p class="sr-only">Edit or delete sleep</p>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right animation slideDownIn">
                           <%= link_to edit_baby_entry_sleep_path(@baby, @entry, sleep), class: "dropdown-item" do %>
                              <%= fa_icon("edit") %> Edit
                           <% end %>
                           <div class="dropdown-divider"></div>
                           <%= link_to baby_entry_sleep_path(@baby, @entry, sleep), method: :delete, class: "dropdown-item" do %>
                              <%= fa_icon("trash", class: "text-danger") %> Delete
                           <% end %>                                       
                        </div>
                     </div>
                  </td>
               </tr>
               <tr>
                  <td colspan="6" class="p-0 border-0">
                     <div class="collapse" id="collapseExample-<%= sleep.id %>">
                        <div class="card card-body border-top mb-0" style="background: #fdfdfd;">
                           <h3>Notes:</h3>
                           <%= sleep.notes.present? ? sleep.notes : "No notes were recorded for this sleep." %>
                        </div>
                     </div>
                  </td>
               </tr>                           
            <% end %>
         </tbody>  
      </table>
      <% else %>
         <div class="text-center p-3">
            <h2>You haven't tracked any sleep time yet.</h2>
            <%= link_to "#", data: {toggle: "modal", target: "#sleepModal"}, class: "btn btn-primary mt-3" do %>
              <%= fa_icon("plus") %>
              <span class="d-none d-lg-inline-block">Track sleep</span>
            <% end %>
         </div>
      <% end %>
</div>
