<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PooPeePal | Secure and Free Baby App for Tracking Poos, Pees, Feedings, Sleep Schedule and More.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= render partial: 'shared/favicon' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      body {
        overflow-x: hidden;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      .offcanvas-nav .form-inline { display: none}
      .is-hidden {  visibility: hidden;}
    </style>
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <div class="wrapper">
      <%= render partial: "shared/main_nav" unless current_page?(new_account_session_path) %>
      <%= yield %>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
