<main>
<div class="container">
   <div class="row">
      <div class="col">
         <div class="card">
            <div class="card-body box-shadow">
               <h1><%= @account.sign_in_count > 1 ? "Welcome back " : "Welcome " %><%= @account.first_name %></h1>
                  <div class="row">
                     <div class="col-md-8">
                        <div class="container">
                        <div class="row">
                           <% if @babies.any? %>
                              <% @babies.each do |baby| %>
                                 <div class="col-lg-6">
                                    <div class="card border">
                                       <%= link_to image_tag(baby.baby_photo_thumb, class: "card-img-top img-fluid", style: "max-height: 250px; object-fit: cover;"), baby_path(baby) if baby.baby_thumb.url.present? %>
                                       <div class="card-body">                                                                                 
                                          <p class="card-title mb-0"><strong><%= link_to baby.name, baby_path(baby) %></strong></p>
                                          <p class="mb-0 small">DOB: <%= baby.dob.strftime("%b %e, %Y") %></p>                                          
                                       </div>
                                       <div class="card-body text-center">
                                          <div class="btn-group border" role="group" aria-label="Basic example">
                                          <%= link_to "View Dashboard", baby_path(baby), class: "btn btn-light btn-sm" %>
                                          <%= link_to "Edit Dashboard", edit_baby_path(baby), class: "btn btn-light btn-sm border-left" %>
                                          </div>
                                          <%= link_to baby_path(baby), method: :delete, data: {confirm: "Are you sure? This can't be undone."}, class: "btn btn-sm btn-danger" do %>
                                             <%= fa_icon("trash-o") %>
                                          <% end %>
                                       </div>
                                    </div>
                                 </div>
                              <% end %>
                           <% else %>
                              <h2 class="mt-md-5">You don't have any Dashboards created yet.</h2>
                           <% end %>   
                        </div>
                        </div>
                     </div>
                     <div class="col-md-4">
                        <h2>Notes</h2>
                     </div>
                  </div><br> 
                  <%= link_to "Create New Baby Dashboard", new_baby_path, class: "btn btn-primary" %> 
                  <br>           
            </div>
         </div>
   </div>
</div>
</main>